{% extends 'base.html' %}
{% load static %}
{% block title %} About Us{% endblock %}
{% block content %}

    <!-- Description Start -->

    <div class="container-fluid review">

        <p>Event management is the application of project management to the creation and development of small and large-scale personal
or corporate events such as festivals, conferences, ceremonies, weddings, formal parties, concerts, or conventions. It involves studying the brand,
identifying its target audience, devising the event concept, and coordinating the technical aspects before actually launching the event.<br>
            <br>
            Our Features include:<br>

1 : Recommendations - clients frequent bookings etc<br>
2 : Coupon codes for offers.<br>
3 : comparison with websites like Wizcraft , Encompass events.<br>
4 : High end Authentication.<br>
5 : Reviews star 🌟, description.<br>
6 : Daily Bonus Coins - can purchase coupons, cash back 💸 gift 🎁 cards.<br>
7 : save places , function halls  to compare and book later.<br>
8 : payment gateway.<br>
9 : User friendly UI<br><br>


            What's new:<br>
            - Personalised recommendation.<br>
- coupons & gift cards.<br></p><br><br><p><br></p>

    </div>

    <!-- Description End -->

    <!-- Review Start -->

    <div class="review">
        <div class="container-fluid ">
            <div class="developer">
                <h1>Developers </h1>
            </div>
            <div class="row align-items-center review-slider normal-slider">
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="{% static 'images/suryakiran.jpg' %}" alt="suryakiran IMG ">
                        </div>
                        <div class="review-text">
                            <h2>Surya Kiran</h2>
                            <h3>Asst.Professor</h3>
                            <p>
                                SURYA KIRAN JONNALAGADDA Assistant Professor in CSE at K L University Krishna, Andhra Pradesh, India
                            </p>

                                <div class="footer-widget">
                                    <h2>Follow Us On</h2>
                                    <div class="contact-info">
                                        <div class="social">
                                            <a href=""><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href=""><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="https://www.linkedin.com/in/suryakiran1993/"><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href=""><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>



                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="{% static 'images/lokesh.jpg' %}" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Lokesh Nusum</h2>
                            <h3>Student</h3>
                            <p>
                                CSE sophomore at K L University |
                                PeerMentor Kandukur, Andhra Pradesh, India
                            </p>

                            <div class="footer-widget">
                                <h2>Follow Us On</h2>
                                <div class="contact-info">
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="{% static 'images/sasi.jpg' %}" alt="Image"/>
                        </div>
                        <div class="review-text">
                            <h2> Sasi Vardhan</h2>
                            <h3>Student</h3>
                            <p>
                                CSE sophomore at K L University | PeerMentor, Vijayawada,Andhra Pradesh, India
                            </p>

                            <div class="footer-widget">
                                <h2>Follow Us On</h2>
                                <div class="contact-info">
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="{% static 'images/tejaswi.jpg' %}" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>Tejaswi </h2>
                            <h3>Student</h3>
                            <p>
                                CSE sophomore at KL University | Developer Vijayawada, Andhra Pradesh, India
                            </p>

                            <div class="footer-widget">
                                <h2>Follow Us On</h2>
                                <div class="contact-info">
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Review End -->

{% endblock %}
